.headerMobile {
  width: 100%;
  background-color: var(--color-light-blue);
  padding-bottom: 14px;
  background-image: url("./../../public/images/theNoyImage.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}

.headerDesktop {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin: 37px 105px 0px 105px;
  width: calc(100% - 210px);
  border-bottom: 3px solid var(--light-gray-border);
  overflow: hidden;
}

.headerDesktop > img {
  margin-bottom: 24px;
}

@media only screen and (min-width: 883px) {
  .headerMobile {
    display: none;
  }

  .headerDesktop {
    display: flex;
  }
}
