.container {
  position: absolute;
  right: 15%;
  top: -80px;
  color: var(--color-purple);
  transform: rotate(40deg);
  font-size: 20px;
  line-height: 35px;
}

.imgContainer {
  transform: rotate(-30deg) translate(20px, 10px);
}

@media only screen and (min-width: 1100px) {
  .container {
    right: 10%;
    top: -80px;
    font-size: 24px;
    line-height: 35px;
  }
}
