.container {
  position: relative;
  display: grid;
  grid-template-columns: 1.8fr 6fr;
  width: 360px;
  height: 80px;
  font-size: 20px;
  line-height: 24px;
}

.centerOfCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
