.welcome {
  color: rgba(49, 183, 171, 1);
  text-align: center;
}

.container {
  display: none;
  position: relative;
}

.star {
  position: absolute;
  bottom: -50%;
  right: -200px;
  z-index: 1;
}

.flowers,
.secondFlowers {
  position: absolute;
  position: relative;
}

.flowers {
  top: 50px;
  left: -200px;
}

.secondFlowers {
  top: 700px;
  left: 400px;
}

.flowerOrange,
.flowerPink,
.flowerPlum,
.flowerGreen,
.flowerBlue {
  position: absolute;
}

.flowerOrange {
  top: 50px;
  left: -85px;
}

.flowerPlum {
  top: 100px;
  left: -20px;
}

.flowerBlue {
  top: -26px;
  left: 76px;
}

@media only screen and (min-width: 883px) {
  .container {
    display: block;
  }
}
