.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  z-index: -1;
  margin: 0 auto auto auto;
}

.box {
  display: flex;
  overflow: visible;
  margin: 0 72px 0 auto;
}

.box > div {
  margin: 0px 85px;
}

.box > div:last-child {
  margin-right: 10px;
  margin-left: 0;
}

.boxReverse {
  flex-direction: row-reverse;
  margin: 0 auto 0 72px;
}

@media only screen and (min-width: 883px) {
  .background {
    display: grid;
  }
}
